body{
	background-color:#F25252;
}

#a{
	font-family: "Ariel", Georgia, Serif;
	font-style: solid black;
}

h1{color:black;
	margin:15 px;
	text-align: center;

}

a{
	font-style: italic;
}

.spring{
	margin:auto;
	display:block;
	width:50%;
	padding-top: 20px;
}

p {
	margin: 10px;
	font-size:14px;
	color:solid black;
}

h3{
	margin: 10px;
}

h2{
	margin: 10px;
}